<ion-header>
    <ion-toolbar color = "secondary">
        <ion-button color = "light" fill = "clear" slot="start" (click) = 'VolverHome()'>
            <ion-icon name="arrow-round-back" size="large"  ></ion-icon>
          </ion-button>
      <ion-title ion-text color="light">
        Dirección de Entrega
      </ion-title>
    </ion-toolbar>
  </ion-header>
  


<ion-content padding color="primary">


    <ion-item color = "primary">
      <ion-label position="floating">Número de teléfono:</ion-label>
      <ion-input placeholder = "Ej: 72229922" [(ngModel)]="telefono" type ="tel" minlength = "7" maxlength = "8" required></ion-input>
    </ion-item>
    <ion-item color = "primary">
      <ion-label position="floating">Preguntar por:</ion-label>
      <ion-input placeholder = "Ej: Juan Perez" 
      [(ngModel)]="referencia" required
     
      type="text"
      ></ion-input>
    </ion-item>

  
    <br><br><br><br><br>
    <ion-button expand ="full" color = "secondary" (click)="EmpezarPedido()" >
      <ion-icon slot="start" name="cart" ></ion-icon>
      Empezar Pedido
    </ion-button >


  </ion-content>