<ion-header>
  <ion-toolbar color = "primary">
      <ion-title ion-text color="light" floating >Cantidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color ="secondary">

  <ion-item color="secondary"> 
    <h2 color ="light">Seleccione una Cantidad: </h2>
  </ion-item>

  <ion-item color="secondary"> 
      <ion-label text-center color ="light">{{nombre}}</ion-label>
  </ion-item>

  <ion-item color="secondary">
    <ion-img [src]="img">  </ion-img>
  </ion-item>
  <br>
  <ion-item color="secondary">
    <ion-button shape="round"   position = "fixed"  slot ="end" (click)="Aumentar1()" >
      <ion-icon slot="icon-only" name="add" ></ion-icon>
    </ion-button>
    <ion-button shape="round"   position = "fixed"  slot="end" (click)="Disminuir1()">
      <ion-icon slot="icon-only" name="remove" ></ion-icon>
    </ion-button>
        <ion-input [(ngModel)]="cantidad_chacha" (onChange) ="CalcularPrecio()"></ion-input>
  </ion-item>
  <br>
  <ion-item color="secondary">
    <h3 color ="light" slot="end">Total: Bs. {{cantidad_chacha * precio_chacha}}</h3>
  </ion-item>

</ion-content>

<ion-footer >
  <ion-toolbar color = "primary" padding>
    <ion-button color = "light" shape="round" fill="outline"  position = "fixed" slot ="start"  (click)="Cancelar()" >
          <ion-icon slot="icon-only" name="undo" size="small"></ion-icon>
    </ion-button>
    <ion-button color = "light" shape="round" fill="outline"  position = "fixed" slot="end" (click)="MandarDetalle()">
        <ion-icon slot="icon-only" name="checkmark" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
