<ion-toolbar color = "secondary">
  
<ion-title color = "dark">Detalle Pedido</ion-title>
</ion-toolbar>


      <p >Precio(Bs.)</p>
      <h3>{{DetalleTipoEmpanada.Precio_Empanada}}</h3>
    </div>


</ion-content>


<ion-footer>
<ion-toolbar color="secondary">
      <ion-buttons slot="primary">
      <ion-button color = "dark" (click)="IraConfirmar()">
      </ion-button>
  </ion-buttons>
  
  <!--<ion-text color="dark" class="ion-text-center" >
    <h2> Total</h2>
    </ion-text>  --> 

  <ion-buttons >
  <ion-button color = "dark" fill = "clear" slot="start" (click)="IraMenu()">
      <ion-icon slot="icon-only" name="md-add-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
                   
</ion-toolbar>
</ion-footer>