<ion-toolbar color = "secondary">
  
<ion-title color = "light">Detalle Pedido</ion-title>
</ion-toolbar>


<ion-content padding color = "primary">
  <div *ngIf="pedido">
      <ion-card *ngFor="let detalle of pedido.detalles" color="secondary">
        <ion-card-content>
          {{detalle.cantidad_chacha}}
          {{detalle.nombre_chacha}}
        </ion-card-content>
      </ion-card>
  </div>

</ion-content >


<ion-footer>
<ion-toolbar color="primary" padding>
    <ion-item color = "primary">
      <ion-text color="light" class="ion-text-center" >
      <h2> Total  Bs. {{precioTotal}}</h2>
      </ion-text>
    </ion-item>  
    
    <ion-button  color = "secondary" slot="start" (click)="IraMenu()">
      <ion-icon slot="icon-only" name="md-add-circle"></ion-icon>
    </ion-button>

    <ion-button color  = "secondary" (click)="IraConfirmar()" slot = "end">
        <ion-icon slot="icon-only" name="md-arrow-forward"></ion-icon>
      </ion-button>
     
                   
</ion-toolbar>
</ion-footer>