<ion-header>
  <ion-toolbar color = "primary">
    <ion-title  ion-text color ="light"> 
      Las Chachas La Paz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color = "secondary">
    <ion-img src="/assets/img/6.png"></ion-img>
    <ion-img src="/assets/img/5.png"></ion-img>
  <div class="ion-padding">
   
  </div>
  <br>
    <ion-button expand = "block" (click) = 'IrAMenu()'> 
      <ion-icon name="list-box"></ion-icon> Menu de Chachas 
    </ion-button>
  <br>
    <ion-button expand = "block" (click) = 'IrAOrdenar()'> 
        <ion-icon name="cart"></ion-icon> Ordenar Chachas 
    </ion-button>
  <br>
    <ion-button expand = "block" (click) = 'IrASucursales()'> 
        <ion-icon name="map"></ion-icon> Sucursales </ion-button>
</ion-content>

